# Java generated
target/

# Developer environment setup (weird files/folders)
/resources/
*.patch

# Subversion
.svn

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
.project
.settings
.classpath
*/maven-eclipse.xml

# Windows
Thumbs.db
*.lnk

# OSX
.DS_Store

out/

# compiled class
*.class

node_modules